@import '~antd/dist/antd.css';

.ant-page-header {
  background-color: #561a86;
}

.ant-page-header-heading{
  display: flex;
  justify-content: left;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.searchBar {
  margin-top: 4px;
  width: calc(100vw - 550px);
}

.ant-input-search-button{
  background-color: #ed3ffd;
  border-color: #ed3ffd;
}site

.ant-input-search-button:hover{
  background-color: #ff00ff;
  border-color: #ff00ff;
  cursor: pointer;
}

.login{
  padding: 3px 30px;
  font-weight: bold;
  background-color: #ed3ffd;
  border-color: #ed3ffd;
  border: solid 2px #ed3ffd;
  color: white;
}

.login:hover{
  background-color: #f0f;
  border: solid 2px white;
  color: white;
}

.login:focus{
  background-color: #ff00ff;
  border: solid 2px white;
  color: white;
}
